#better config and install
wheel
Pillow
six==1.14.0
h5py==2.10.0
astor

#Notebooks
jupyterlab

#Visualization
altair
vega3
vega-datasets==0.7.0
matplotlib

#Machine Learning
numpy
pandas
sklearn

#Deep Learning
tensorflow==2.0.3
google-pasta>=0.1.6

